<input type="checkbox" id="sidebar-toggle" class="sidebar-toggle-input"><label for="sidebar-toggle" class="sidebar-handle" aria-label="Open navigation">≡</label><aside class="sidebar"><nav><ul>{% for item in site.sidebar %}<li><a href="{{ item[0] }}">{{ item[1] }}</a></li>{% endfor %}</ul></nav></aside>
