<input id='sidebar-toggle' class='sidebar-toggle-input' type='checkbox' />
<label class='sidebar-handle' for='sidebar-toggle' aria-label='Open navigation'>
  ≡
</label>
<aside class='sidebar'>
  <nav>
    <ul>
      {% for item in site.sidebar %}
        <li>
          <a href='{{ item[0] }}'>{{ item[1] }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
