---
layout: layouts/base.njk
title: blog
permalink: /blogs/
---
<div class="updates"><h2>blog</h2><ul>{% for post in collections.posts | reverse %}<li><span class="date">{{ post.data.date }}</span><span class="sep"> · </span><a href="{{ post.url }}"><span class="tag">[{{ post.data.tag }}]</span> <span class="label">{{ post.data.title }}</span></a></li>{% endfor %}</ul></div>
