---
layout: layouts/base.njk
title: contact
permalink: /contact/
---
<section class='content page-content'>
  <h1>contact</h1>
  <p>email is the easiest way to reach me.</p>
  <p><a href='mailto:amdkitsav@proton.me'>amdkitsav@proton.me</a></p>
  <p><a href='https://x.com/amdkits' rel='me'>x / @amdkits</a></p>
</section>
