---
import Base from '../layouts/Base.astro';
---
<Base title="404">
  <div class="updates">
    <h2>404</h2>
    <ul>
      <li>
        <span class="date">error</span> ·
        site under construction
      </li>
      <li>
        <span class="date">hint</span> ·
        <a href="/">cd ~</a> to go back home
      </li>
    </ul>
  </div>
</Base>
