---
import Base from "../layouts/Base.astro";
---

<Base title="amdkits">
  <h1>Under Construction</h1>

  <p>
    I'm currently rebuilding this site.
  </p>

  <ul>
    <li>[ ] Blog</li>
    <li>[ ] Guestbook</li>
    <li>[ ] GPG page</li>
    <li>[ ] RSS feed</li>
  </ul>
</Base>
