---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version='2.0'>
  <channel>
    <title>{{ site.title }}</title>
    <link />
    {{ site.url }}
    /
    </link>
    <description>{{ site.description }}</description>
    {% for item in collections.updates %}
      <item>
        <title>{{ item.data.title | escape }}</title>
        <link />
        {{ site.url }}
        {{ item.url }}
        </link>
        <guid>{{ site.url }}{{ item.url }}</guid>
        <pubDate>{{ item.date | rssDate }}</pubDate>
      </item>
    {% endfor %}
  </channel>
</rss>
