---
import { ClientRouter } from "astro:transitions";
import "../styles/dark.css";
import Sidebar from "../components/sidebar.astro";
import MusicPlayer from "../components/MusicPlayer.astro";
import AsciiLogo from "../components/AsciiLogo.astro";
import FriendsSidebar from "../components/FriendsSidebar.astro";
const { title = "amdkits" } = Astro.props;
---

<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <script is:inline>
      console.log(`
 ‚ĖĄ‚ĖĄ‚ĖĄ       ‚Ėą‚Ėą‚Ėą‚ĖĄ ‚ĖĄ‚Ėą‚Ėą‚Ėą‚Ėď‚Ėď‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĄ  ‚Ėą‚Ėą ‚ĖĄ‚Ėą‚ĖÄ ‚Ėą‚Ėą‚Ėď‚ĖĄ‚ĖĄ‚ĖĄ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėď  ‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą 
‚Ėí‚Ėą‚Ėą‚Ėą‚Ėą‚ĖĄ    ‚Ėď‚Ėą‚Ėą‚Ėí‚ĖÄ‚Ėą‚ĖÄ ‚Ėą‚Ėą‚Ėí‚Ėí‚Ėą‚Ėą‚ĖÄ ‚Ėą‚Ėą‚ĖĆ ‚Ėą‚Ėą‚ĖĄ‚Ėą‚Ėí ‚Ėď‚Ėą‚Ėą‚Ėí‚Ėď  ‚Ėą‚Ėą‚Ėí ‚Ėď‚Ėí‚Ėí‚Ėą‚Ėą    ‚Ėí 
‚Ėí‚Ėą‚Ėą  ‚ĖÄ‚Ėą‚ĖĄ  ‚Ėď‚Ėą‚Ėą    ‚Ėď‚Ėą‚Ėą‚ĖĎ‚ĖĎ‚Ėą‚Ėą   ‚Ėą‚ĖĆ‚Ėď‚Ėą‚Ėą‚Ėą‚ĖĄ‚ĖĎ ‚Ėí‚Ėą‚Ėą‚Ėí‚Ėí ‚Ėď‚Ėą‚Ėą‚ĖĎ ‚Ėí‚ĖĎ‚ĖĎ ‚Ėď‚Ėą‚Ėą‚ĖĄ   
‚ĖĎ‚Ėą‚Ėą‚ĖĄ‚ĖĄ‚ĖĄ‚ĖĄ‚Ėą‚Ėą ‚Ėí‚Ėą‚Ėą    ‚Ėí‚Ėą‚Ėą ‚ĖĎ‚Ėď‚Ėą‚ĖĄ   ‚ĖĆ‚Ėď‚Ėą‚Ėą ‚Ėą‚ĖĄ ‚ĖĎ‚Ėą‚Ėą‚ĖĎ‚ĖĎ ‚Ėď‚Ėą‚Ėą‚Ėď ‚ĖĎ   ‚Ėí   ‚Ėą‚Ėą‚Ėí
 ‚Ėď‚Ėą   ‚Ėď‚Ėą‚Ėą‚Ėí‚Ėí‚Ėą‚Ėą‚Ėí   ‚ĖĎ‚Ėą‚Ėą‚Ėí‚ĖĎ‚Ėí‚Ėą‚Ėą‚Ėą‚Ėą‚Ėď ‚Ėí‚Ėą‚Ėą‚Ėí ‚Ėą‚ĖĄ‚ĖĎ‚Ėą‚Ėą‚ĖĎ  ‚Ėí‚Ėą‚Ėą‚Ėí ‚ĖĎ ‚Ėí‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėą‚Ėí‚Ėí
 ‚Ėí‚Ėí   ‚Ėď‚Ėí‚Ėą‚ĖĎ‚ĖĎ ‚Ėí‚ĖĎ   ‚ĖĎ  ‚ĖĎ ‚Ėí‚Ėí‚Ėď  ‚Ėí ‚Ėí ‚Ėí‚Ėí ‚Ėď‚Ėí‚ĖĎ‚Ėď    ‚Ėí ‚ĖĎ‚ĖĎ   ‚Ėí ‚Ėí‚Ėď‚Ėí ‚Ėí ‚ĖĎ
  ‚Ėí   ‚Ėí‚Ėí ‚ĖĎ‚ĖĎ  ‚ĖĎ      ‚ĖĎ ‚ĖĎ ‚Ėí  ‚Ėí ‚ĖĎ ‚ĖĎ‚Ėí ‚Ėí‚ĖĎ ‚Ėí ‚ĖĎ    ‚ĖĎ    ‚ĖĎ ‚ĖĎ‚Ėí  ‚ĖĎ ‚ĖĎ
  ‚ĖĎ   ‚Ėí   ‚ĖĎ      ‚ĖĎ    ‚ĖĎ ‚ĖĎ  ‚ĖĎ ‚ĖĎ ‚ĖĎ‚ĖĎ ‚ĖĎ  ‚Ėí ‚ĖĎ  ‚ĖĎ      ‚ĖĎ  ‚ĖĎ  ‚ĖĎ  
      ‚ĖĎ  ‚ĖĎ       ‚ĖĎ      ‚ĖĎ    ‚ĖĎ  ‚ĖĎ    ‚ĖĎ                 ‚ĖĎ  
                      ‚ĖĎ                                   
`);
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>amdkits ‚ÄĒ {title}</title>
    <ClientRouter />
  </head>
  <body>
    <div id="oneko" transition:persist></div>
    <script src="/oneko.js" is:inline></script>
    <MusicPlayer />
    <Sidebar />
    <FriendsSidebar />
    <div class="page">
      <div class="box">
        <!--    <div class="hero">
      <a href="/" class="moon-link">
      <div class="moon">
        <svg viewBox="0 0 100 100" width="80" height="80">
          <circle cx="50" cy="50" r="40" fill="var(--konata-blue-soft)" />
          <circle cx="65" cy="38" r="6" fill="var(--bg)" opacity="0.4" />
          <circle cx="40" cy="60" r="9" fill="var(--bg)" opacity="0.4" />
        </svg>
      </div>
      <h1 class="wordmark">a m d k i t s</h1>
      </a>
      </div> -->

        <div class="hero">
          <a href="/" class="ascii-link">
            <AsciiLogo />
          </a>
        </div>

        <div class="window">
          <div class="titlebar"><span>‚õ©ÔłŹ El, Psy, Congroo</span></div>

          <div class="navbar">
            <nav class="navrow">
              <a href="/">home</a>
              <a href="/about">about</a>
              <a href="/blogs">blogs</a>
              <a href="https://x.com/amdkits" target="_blank">twt</a>
              <a href="https://leetcode.com/u/amdkits/" target="_blank">leetcode</a>
            </nav>
          </div>

          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
