---
import "../styles/global.css";
import Sidebar from "../components/sidebar.astro";

const { title = "amdkits" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body>
    <div class="layout">
      <Sidebar />

      <main class="content">
        <slot />
      </main>
    </div>
  </body>
</html>
